[package]
name = "seedle-gen"
version = "0.0.1"
authors = ["Thomas Chiantia <thomas@altronix.com>"]
keywords = ["minicbor", "cbor", "cddl", "codegen"]
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
seedle-parser = { workspace = true, features = ["liquid"] }
liquid = { workspace = true }
liquid-core = { workspace = true }
liquid-derive = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
heck = { workspace = true }
lazy_static = { workspace = true }

[dev-dependencies]
walkdir = { workspace = true }
trybuild = { workspace = true }
minicbor = { workspace = true }
serde = { workspace = true }
seedle-extra = { workspace = true, features = ["c"] }
